.archives h2 {
    margin-top: 1.5em;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    padding-left: 0px;
    list-style: outside none none;
}

.nav-tabs li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs li a {
    padding: 8px 13px;
    display: block;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid transparent;
    margin-right: 4px;
}

.nav-tabs li a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs li a:hover,
.nav-tabs li a:focus {
    text-decoration: none;
    background-color: #eee;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd transparent;
}

.table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.table thead tr th,
.table tbody tr td {
    padding: 8px;
    border-top: 1px solid #ddd;
}

.table thead tr th {
    vertical-align: bottom;
    border-top: 0px none;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

.table tbody tr td {
    vertical-align: center;
}

.table tbody tr td ul {
    margin: 0;
}

/*
 *  KGS Rank Graph
 *  ==============
 */

.kgs-graph {
    background-color: #dd8;
    border-radius: 6px;
}

/*
 *  Calendar
 *  ========
 */

.calendar {
    margin: 1em auto;
}

.calendar-header,
.calendar-body {
    padding: 0;
    margin: 0;
    list-style: outside none none;
}

.calendar-header > li,
.calendar-body > li {
    width: 14.2%;
    box-sizing: border-box;
    float: left;
    margin: 0px;
    padding: .3em;
    overflow: auto;
}

.calendar-header > li {
    font-size: 0.9em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.calendar-body > li {
    height: 7em;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.calendar-body > li:nth-child(7n+1) {
    border-left: 1px solid #ddd;
}

.calendar-date-day {
    text-align: right;
}

.calendar-date-content {
    font-size: 0.9em;
}

/*
.js-calendar-date-number  { display: none; }
.js-calendar-date-content { display: none; }
*/

.js-calendar-prev-month,
.js-calendar-next-month {
    color: #777;
}

