@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  font-family: 'Open Sans', sans-serif;
  padding: 2em;
  margin: 0;
  color: #333;
}

h1 small {
  font-weight: normal;
  color: #777;
}

header img {
  box-shadow: 3px 3px 5px rgba(119, 119, 119, 0.8);
}

nav ul {
  padding-left: 2em;
}

nav ul li {
  list-style-type: none;
  padding-left: 0;
}

dl dt {
  font-weight: bold;
  margin-top: 1em;
}

dl dd {
  margin-top: 0.5em;
  margin-left: 0;
}

p code {
  color: #C7254E;
}

a {
  color: #428BCA;
  text-decoration: none;
}

a:hover, a:focus {
  color: #2A6496;
  text-decoration: underline;
}

pre {
  line-height: 1.4;
  margin-left: 4em;
}

div.profile h4 {
  margin: 0 0 5px;
}

div.profile img {
  float: left;
  margin-right: 1em;
}

div.profile p {
  margin-top: 5px;
}

.hljs-string {
  color: #008000;
}

.hljs-number {
  color: #00F;
}

.hljs-literal {
  color: #F00;
}
