/*
 *  Layout
 *  ======
 */

.container {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container:first-child { padding-top: 1em; }
.container:last-child { padding-bottom: 1em; }

@media (min-width: 768px) {
  .container { width: 750px; }
}

/*
 *  Typography
 *  ==========
 */

body { 
  color: #333;
  font-family: "Open Sans", sans-serif;
}

p { line-height: 1.5; }

.text-muted   { color: #777 }
.text-primary { color: #337AB7 }
.text-success { color: #3c763d }
.text-info    { color: #31708F }
.text-warning { color: #8A6D3B }
.text-danger  { color: #a94442 }

/* Headings */

h5 { font-size: 1em }

h1 small,
h2 small {
  font-weight: normal;
  color: #777;
}

/* Lists */

dl dt {
  margin-top: 1em;
  font-weight: bold;
}

dl dd {
  margin-top: .5em;
  margin-left: 0;
}

ul { padding-left: 1.5em; }

@media (min-width: 768px) {
  ul { padding-left: 2em; }
}

.list-unstyled {
    padding-left: 0px;
    list-style: outside none none;
}

/* Code */

code,
pre {
  font-size: 0.8em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code { color: #c7254e; }

pre {
  padding-left: 1em;
  line-height: 1.5;
}

@media (min-width: 768px) {
  pre { padding-left: 2em; }
}

.json-string { color: #008000 }
.json-number { color: #00f }
.json-literal { color: #f00 }

/* Link */

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

/* Media */

img {
  max-width: 100%;
  display: inline-block;
}

figure {
  max-width: 100%;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

figure img {
  display: block;
  margin: 0 auto;
}

/*
 *  Forms
 *  =====
 */

form input {
  padding: 6px;
  font-size: 1em;
  color: #555;
}

form input[type="text"] {
  width: 30em;
  margin-right: .3em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset;
}

.btn {
  color: #fff;
  border: 1px solid #357ebd;
  border-radius: 4px;
  background-color: #428bca;
  padding-left: 10px;
  padding-right: 10px;
}

.btn:hover {
  border-color: #285e8e;
  background-color: #3071a9;
}

.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn[disabled] {
  opacity: .65;
  cursor: not-allowed;
  pointer-events: none;
}

/*
 *  Utility Classes
 *  ===============
 */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  *zoom: 1;
}

/*
 *  Components
 *  ==========
 */

.photo { box-shadow: 3px 3px 5px rgba(119,119,119,0.8); }

.badge {
    border-radius: 10px;
    padding: 2px 6px;
    margin-left: 0.5em;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    background-color: #777;
}

/* Navbar */

@media (min-width: 768px) {
  header h1 { display: none; }

  .navbar-header {
    float: left;
    display: block;
  }

  .navbar-list {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-list li {
    float: left;
    margin-left: 0.5em;
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: none outside none;
  }

  .navbar-list a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    line-height: 40px;
  }

  .navbar-list a:hover,
  .navbar-list a:focus {
    background-color: #eee;
    text-decoration: none;
  }

  .navbar-list .active a,
  .navbar-list .active a:active,
  .navbar-list .active a:focus {
    color: #fff;
    background-color: #428bca;
    text-decoration: none;
  }
}

/* Table of contents */

.toc ul {
  padding-left: 0;
  list-style-type: none;
}

.toc ul { padding-left: 1em; }
.toc > ul { padding-left: 0; }

@media (min-width: 768px) {
  .toc ul { padding-left: 2em; }
  .toc > ul { padding-left: 1em; }
}

/* Profile */

.profile h4 {
  margin: 0 0 5px;
}

.profile img {
  float: left;
  margin-right: 1em;
}

.profile p {
  margin-top: 5px;
}

/* APIs Explorer */

.explorer-response {
  max-height: 25em;
  padding: 1em;
  margin-left: 0;
  overflow-y: scroll;
  //background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.075) inset;
}

.explorer-response pre {
  margin: 1em 0 0 0;
  padding-left: 0;
  font-size: 0.8em;
  white-space: pre-wrap;
}

